<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>

<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="'user['+${i.getUsername} + ']'"></h4>
        <a th:href="@{/detail/{id}(id=${i.getId})}"><h4 th:text="${i.getTitle}">상품</h4></a>
    <p th:text="${i.getPrice} + '원'">가격</p>
        <a th:href="@{/modify/{id}(id=${i.getId})}">수정하기</a>
        <p onclick="deletePost(event)" th:data-id="${i.getId}">Delete</p>
    </div>
</div>

<div class="page">
<a href="/list/page/1">1</a>
<a href="/list/page/2">2</a>
<a href="/list/page/3">3</a>
</div>

<script>
    function deletePost(e){
        const postId = e.target.dataset.id;
        fetch(`/delete/${postId}`,{
            method : 'DELETE'
        })
        .then((r)=>{
        e.target.parentElement.parentElement.style.display='none'})
    }
</script>
</body>

</html>