<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<div class="detail">
    <h3>Order</h3>
    <form action="/orderDetail" method="POST">
        <span>Name</span>
        <input name="itemName" th:value="${product.get().title}" readonly>
        <br>
        <span>Price</span>
        <input name="price" th:value="${product.get().price}" style="margin-left : 5px" readonly>
        <br>
        <span>Count</span>
        <input name="count" type="number" value="1" min="1">
        <input name="memberId" th:value="${userinfo.get().id}" readonly style="display : none">
        <br>
        <span style="margin-left : 45px" ></span>
        <button type="submit" style="display : inline-block">Order</button>
    </form>

</div>




</body>
</html>